In [1]:
import plotly.plotly as py
import pandas as pd

In [3]:
py.sign_in('orgiele', '0hLF1CVCaH5sEU0CG9Ah')

In [32]:
df = pd.read_json('file:/home/orgiele/Semestr 6/pdrpy_ztm/data/14-05/buses2-zone-filtered.json')
df

      Brigade      Lat  Lines      Lon                 Time
0          62  52.2640    731  21.0462  2017-05-14 00:57:29
1          62  52.2640    731  21.0462  2017-05-14 00:57:29
2          62  52.2640    731  21.0462  2017-05-14 00:57:29
3          62  52.2640    731  21.0462  2017-05-14 00:57:29
4          62  52.2640    731  21.0462  2017-05-14 00:57:29
5          62  52.2640    731  21.0462  2017-05-14 00:57:29
6          62  52.2640    731  21.0462  2017-05-14 00:57:29
7          62  52.2640    731  21.0462  2017-05-14 00:57:29
8          62  52.2640    731  21.0462  2017-05-14 00:57:29
9          62  52.2640    731  21.0462  2017-05-14 00:57:29
10         62  52.2640    731  21.0462  2017-05-14 00:57:29
11         62  52.2640    731  21.0462  2017-05-14 00:57:29
12         62  52.2640    731  21.0462  2017-05-14 00:57:29
13         62  52.2640    731  21.0462  2017-05-14 00:57:29
14         62  52.2640    731  21.0462  2017-05-14 00:57:29
15         62  52.2640    731  21.0462  2017-05-14 00:57:29
16         62  52.2640    731  21.0462  2017-05-14 00:57:29
17         62  52.2640    731  21.0462  2017-05-14 00:57:29
18         62  52.2640    731  21.0462  2017-05-14 00:57:29
19         62  52.2640    731  21.0462  2017-05-14 00:57:29
20         62  52.2640    731  21.0462  2017-05-14 00:57:29
21         62  52.2640    731  21.0462  2017-05-14 00:57:29
22         62  52.2640    731  21.0462  2017-05-14 00:57:29
23         62  52.2640    731  21.0462  2017-05-14 00:57:29
24         62  52.2640    731  21.0462  2017-05-14 00:57:29
25         62  52.2640    731  21.0462  2017-05-14 00:57:29
26         62  52.2640    731  21.0462  2017-05-14 00:57:29
27         62  52.2640    731  21.0462  2017-05-14 00:57:29
28         62  52.2640    731  21.0462  2017-05-14 00:57:29
29         62  52.2640    731  21.0462  2017-05-14 00:57:29
...       ...      ...    ...      ...                  ...
65947       6  52.0977    709  21.0190  2017-05-14 08:17:39
65948       5  52.1751    709  21.0209  2017-05-14 08:17:39
65949       1  52.1061    702  21.2659  2017-05-14 08:17:40
65950       1  52.2913    736  21.0006  2017-05-14 08:17:40
65951       2  52.2401    719  20.8888  2017-05-14 08:17:40
65952       1  52.2600    738  21.0469  2017-05-14 08:17:40
65953       4  52.1801    709  21.0238  2017-05-14 08:17:40
65954       3  52.1800    709  21.0242  2017-05-14 08:17:40
65955      72  52.0809    721  20.8776  2017-05-14 08:17:40
65956      63  52.3673    723  20.9315  2017-05-14 08:17:41
65957       2  52.2747    705  20.9693  2017-05-14 08:17:41
65958       1  52.1532    709  21.0173  2017-05-14 08:17:41
65959       2  52.2245    704  21.2006  2017-05-14 08:17:41
65960       3  52.1800    710  21.0238  2017-05-14 08:17:41
65961       2  52.2911    708  20.9283  2017-05-14 08:17:41
65962       3  52.2214    716  20.9215  2017-05-14 08:17:42
65963      53  52.2646    735  21.0478  2017-05-14 08:17:42
65964      54  52.4066    738  21.1743  2017-05-14 08:17:42
65965       1  52.1269    733  20.8770  2017-05-14 08:17:42
65966       1  52.1770    728  20.9446  2017-05-14 08:17:42
65967       1  52.2211    716  20.9208  2017-05-14 08:17:43
65968       1  52.1753    711  20.9439  2017-05-14 08:17:43
65969       9  52.1108    709  21.0183  2017-05-14 08:17:43
65970       1  52.1176    724  21.1056  2017-05-14 08:17:43
65971       1  52.2800    712  20.8537  2017-05-14 08:17:43
65972       1  52.1306    725  21.1203  2017-05-14 08:17:43
65973      62  52.2446    730  21.0882  2017-05-14 08:17:44
65974      62  52.2978    731  20.9954  2017-05-14 08:17:44
65975       2  52.1108    710  21.1119  2017-05-14 08:17:44
65976       1  52.2237    743  20.9297  2017-05-14 08:17:45

[65977 rows x 5 columns]

In [35]:
from plotly.graph_objs import *

mapbox_access_token = 'pk.eyJ1Ijoib3JnaWVsZSIsImEiOiJjajJ4azAyYnkwMHZ4MnFxbm41d3JocHlzIn0.GDMQKR_XxQIZtPX8dq6K4g'

data = Data([
    Scattermapbox(
        lat=df['Lat'],
        lon=df['Lon'],
        mode='markers',
        hoverinfo='text',
        marker=Marker(
            size=5
        ),
        text=df['Lines']
    )
])

layout = Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=52.228626,
            lon=21.005654
        ),
        pitch=0,
        zoom=8
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Warsaw Mapbox')

/home/orgiele/anaconda3/lib/python3.6/site-packages/plotly/plotly/plotly.py:236: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.